In [1]:
import pandas as pd
import numpy as np

In [4]:
# CSV 파일 읽기
df = pd.read_csv("kakao_place_info_list2.csv")
df.shape

(186, 7)

In [11]:
# 행이 동일한 중복된 행 찾기
print(len(df[df.duplicated()]))
# 중복 데이터 제거 (모든 컬럼 기준으로 중복을 찾음)
# df = df.drop_duplicates()
# print(df.shape)

565

In [57]:
# 컬럼명 변경
df.rename(
    columns={
        "번호": "id",
        "도메인": "domain",
        "상호명": "name",
        "주소": "address",
        "키워드": "category",
        "가게평점": "rating",
        "영업시간": "business_hours"
    },
    inplace=True
)

# 컬럼 순서 재배열
columns_order = ["id", "domain", "name", "category", "rating", "address", "business_hours"]
df = df[columns_order]

print(df)

        id domain         name category  rating  \
0       13  kakao     서린바지락칼국수      칼국수     2.5
1       18  kakao   노모어피자 대학로점       피자     5.0
2       20  kakao        토속삼계탕      삼계탕     4.5
3       22  kakao  삼형제김밥 종로구청점       분식     4.6
4       26  kakao        몽쁘띠쁠라       카페     5.0
...    ...    ...          ...      ...     ...
2003  6576  kakao          가봉루     중국요리     3.2
2004  6578  kakao   고대멸치국수 종로점       국수     3.6
2005  6581  kakao          대성집       국밥     4.1
2006  6591  kakao         아사리판    커피전문점     5.0
2007  6594  kakao       함흥곰보냉면       냉면     2.4

                                       address  \
0     서울 종로구 종로 19 르메이에르종로타운1 2층 211-3, 212-1호
1                         서울 종로구 창경궁로 246 1-2층
2                            서울 종로구 사직로 101 1층
3                             서울 종로구 삼봉로 60 1층
4                서울 종로구 동숭길 101 현대엘리베이터빌딩 지하1층
...                                        ...
2003                          서울 종로구 세종대로23길 3
2004                         서울 종로구 종로46길 9 1층
2005                           서울 종로구 사직로 5 1층
2006                      서울 종로구 종로40길 20 2,3층
2007         서울 종로구 창경궁로 109 세운스퀘어 4층 401,405호

                                         business_hours
0                               영업시간: 월~금 11:00 ~ 21:00
1     영업시간: 월,화,수,금,토,일 10:00 ~ 02:00 영업시간: 목 10:00 ...
2                                                   NaN
3                 금일영업마감 수정 제안 이동하기: 월~금 07:00 ~ 19:00
4                               영업시간: 화~일 11:30 ~ 21:00
...                                                 ...
2003                            영업시간: 월~토 11:30 ~ 21:00
2004                  영업중 수정 제안 이동하기: 매일 11:00 ~ 05:00
2005  영업시간: 월~금 10:30 ~ 20:00 영업시간: 토 10:30 ~ 19:00 ...
2006                            영업시간: 월~금 09:00 ~ 18:30
2007    영업시간: 월~금 10:30 ~ 20:00 영업시간: 토,일 10:00 ~ 22:00

[2008 rows x 7 columns]

In [58]:
max_id = 6605 # 6605, 377
existing_ids = df['id'].dropna().astype(int).tolist()
all_ids = list(range(1, max_id + 1))

# 2. 기존 ID를 제외한 사용 가능한 ID 생성
available_ids = [i for i in all_ids if i not in existing_ids]

# 3. 새로운 데이터프레임 만들기 (1부터 max_id까지 모든 ID 포함)
full_df = pd.DataFrame({'id': all_ids})

# 4. 기존 데이터와 병합하여 기존 ID 데이터 유지
full_df = full_df.merge(df, on='id', how='left')

# 5. 도메인 값이 비어 있는 경우 'kakao'로 채우기
full_df['domain'] = full_df['domain'].fillna('kakao')

# 6. 결과 확인
print(full_df)

        id domain name category  rating address business_hours
0        1  kakao  NaN      NaN     NaN     NaN            NaN
1        2  kakao  NaN      NaN     NaN     NaN            NaN
2        3  kakao  NaN      NaN     NaN     NaN            NaN
3        4  kakao  NaN      NaN     NaN     NaN            NaN
4        5  kakao  NaN      NaN     NaN     NaN            NaN
...    ...    ...  ...      ...     ...     ...            ...
6600  6601  kakao  NaN      NaN     NaN     NaN            NaN
6601  6602  kakao  NaN      NaN     NaN     NaN            NaN
6602  6603  kakao  NaN      NaN     NaN     NaN            NaN
6603  6604  kakao  NaN      NaN     NaN     NaN            NaN
6604  6605  kakao  NaN      NaN     NaN     NaN            NaN

[6605 rows x 7 columns]

In [59]:
for col in ['domain', 'name', 'category', "address", "business_hours"]:
    full_df[col] = full_df[col].fillna('')
print(full_df)

        id domain name category  rating address business_hours
0        1  kakao                   NaN
1        2  kakao                   NaN
2        3  kakao                   NaN
3        4  kakao                   NaN
4        5  kakao                   NaN
...    ...    ...  ...      ...     ...     ...            ...
6600  6601  kakao                   NaN
6601  6602  kakao                   NaN
6602  6603  kakao                   NaN
6603  6604  kakao                   NaN
6604  6605  kakao                   NaN

[6605 rows x 7 columns]

In [60]:
# csv로 저장
full_df.to_csv("kakao_store_info.csv", index=False)

In [49]:
# CSV 파일 읽기
reviews = pd.read_csv("kakao_reivew_lists2.csv")

In [50]:
# 컬럼명 변경
reviews.rename(
    columns={
        "number": "id",
        # "도메인": "domain",
        # "상호명": "name",
        # "주소": "address",
        # "키워드": "category",
        # "가게평점": "rating",
        # "영업시간": "business_hours"
        # "리뷰": "reviews"
    },
    inplace=True
)
print(reviews)

       id domain      name                                            reviews
0       1  kakao       인왕산                                               뷰 맛집
1       1  kakao       인왕산  경북궁역에서 출발해서 정상까지 약 1시간20분 소요됐습니다.야경이 너무 예쁘고, 성...
2       1  kakao       인왕산  난이도는 1(쉬움)~5(어려움) 중에, 2레벨 정도 이고요, 한양도성 성벽이, 인왕...
3       1  kakao       인왕산                                           378번째 등산
4       1  kakao       인왕산                                                NaN
...   ...    ...       ...                                                ...
2226  376  kakao  예스24스테이지                                       알바생 좀 친잘했으면…
2227  376  kakao  예스24스테이지  주차관리인 완전 친절하시네요. 아래 21년 후기에 안좋은 리뷰 있어 걱정했는데 너무...
2228  376  kakao  예스24스테이지                     1,2,3관 모두 무대만 좀 높이면 다 잘보여서 좋아요
2229  376  kakao  예스24스테이지                           다른 공연장들에 비해 시설이 매우 열악하네요
2230  376  kakao  예스24스테이지                                                괜찮음

[2231 rows x 4 columns]

In [51]:
# 리뷰 컬럼에서 빈 값이 있는 행 삭제
reviews = reviews.dropna(subset=["reviews"])

# 결과 확인
print(reviews)

       id domain      name                                            reviews
0       1  kakao       인왕산                                               뷰 맛집
1       1  kakao       인왕산  경북궁역에서 출발해서 정상까지 약 1시간20분 소요됐습니다.야경이 너무 예쁘고, 성...
2       1  kakao       인왕산  난이도는 1(쉬움)~5(어려움) 중에, 2레벨 정도 이고요, 한양도성 성벽이, 인왕...
3       1  kakao       인왕산                                           378번째 등산
5       1  kakao       인왕산                          서울을 너무 예쁘게 담을 수 있는 야트막한 산
...   ...    ...       ...                                                ...
2226  376  kakao  예스24스테이지                                       알바생 좀 친잘했으면…
2227  376  kakao  예스24스테이지  주차관리인 완전 친절하시네요. 아래 21년 후기에 안좋은 리뷰 있어 걱정했는데 너무...
2228  376  kakao  예스24스테이지                     1,2,3관 모두 무대만 좀 높이면 다 잘보여서 좋아요
2229  376  kakao  예스24스테이지                           다른 공연장들에 비해 시설이 매우 열악하네요
2230  376  kakao  예스24스테이지                                                괜찮음

[1522 rows x 4 columns]

In [52]:
# csv로 저장
reviews.to_csv("kakao_spot_reviews.csv", index=False)

In [4]:
############
# "price_per_one" 추가하고 컬럼 재배치
# df = pd.read_csv("kakao_store_info.csv")
# df['price_per_one'] = np.nan
# 컬럼 순서 재배열
# columns_order = ["id", "domain", "name", "reviews"]
# columns_order = ["id", "domain", "name", "category", "rating", "address", "business_hours", "price_per_one"]
# df = df[columns_order]
print(df)
# csv 저장
df.to_csv("kakao_store_info.csv", index=False)

        id domain name category  rating address business_hours  price_per_one
0        1  kakao  NaN      NaN     NaN     NaN            NaN            NaN
1        2  kakao  NaN      NaN     NaN     NaN            NaN            NaN
2        3  kakao  NaN      NaN     NaN     NaN            NaN            NaN
3        4  kakao  NaN      NaN     NaN     NaN            NaN            NaN
4        5  kakao  NaN      NaN     NaN     NaN            NaN            NaN
...    ...    ...  ...      ...     ...     ...            ...            ...
6600  6601  kakao  NaN      NaN     NaN     NaN            NaN            NaN
6601  6602  kakao  NaN      NaN     NaN     NaN            NaN            NaN
6602  6603  kakao  NaN      NaN     NaN     NaN            NaN            NaN
6603  6604  kakao  NaN      NaN     NaN     NaN            NaN            NaN
6604  6605  kakao  NaN      NaN     NaN     NaN            NaN            NaN

[6605 rows x 8 columns]